<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% tailwind_css %}
</head>
<body>
    <section>
        <nav>
            <img src="" alt="logo"></img>
            <section id="navigationSection">
                <a href="#">home</a>
                <a href="#">contact</a>
                <a href="#">profile</a>
            </section>
        </nav>
    </section>

    {% block content %}

    {% endblock %}
</body>
</html>